div.box {
    position: relative;
    padding: 10px;
    margin: 35px;
    background: lightgray;
    width: calc(100vw - 200px);
}

div.box:before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    bottom: 0;
    right: -25px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

div.box:after {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    bottom: -25px;
    right: 0;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

