body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(96, 116, 207);
    display: flex;
    min-height: calc(100vh - 20px);
    align-items: center;
    justify-content: center;
}

input{
    font-family: 'Montserrat', sans-serif;
}

#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 400px;
    background: linear-gradient(55deg, rgb(100, 173, 215), rgb(91, 99, 209));
    border-radius: 0 0 15px 15px;
}

input{
    width: 80px;
    height: 80px;
    color: white;
    background: none;
    border: none;
    outline: none;
    font-size: 25px;
}

#out{
    width: 400px;
    height: 150px;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 5px 32px;
    box-sizing: border-box;
}

/* #calc{

} */



input:hover{
    background-color: rgba(0, 0, 0, 0.123);
}

#expression{
    font-size: 30px;
    width: 100%;
    height: 50%;
    color: black;
    text-align: end;
    word-spacing:normal;    
}

#history{
    text-align: end;
    font-size: 18px;
    color: rgb(122, 122, 122);
    height: 50%;
    width: 100%;
    padding: 0px;    
}

.nhover:hover{
    background: none;
}

#conv{
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;    
    /* background: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%); */
}

#conv div:hover{
    background: linear-gradient(55deg, rgb(100, 173, 215), rgb(91, 99, 209));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* #length:hover{
    background: linear-gradient(55deg, rgb(100, 173, 215), rgb(91, 99, 209));
} */