body {
    font-family: 'PT Sans';
}

input[type=button] {
    background-color: lightblue;
    border: 1px solid rgb(114, 198, 226);
    border-radius: 5px;
    padding: 10px 0px;
    margin: 5px;
    width: 200px;
}

div.container {
    background: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

input, textarea {
    width: calc(100% - 50px);
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
}

input#clear {
    float: right;
    background-color: rgb(230, 228, 228);
    border: 1px solid gray
}
