body {
    margin: 0px;
}

h1 {
    text-align: center;
}

.grid {
    border: 2px solid black;
    padding: 20px;
    margin: 30px 10px;
    display: grid;
    grid-template-columns: repeat(100, auto);
    grid-gap: 5px;
    border-radius: 20px;
}

.grid img {
    width: 100%;
    height: 100%;
}

@media (min-width: 1366px) {
    .image-1 {
        grid-column: span 40;
    }
    .image-2 {
        grid-column: span 60;
    }
    .image-3 {
        grid-column: span 40;
    }
    .image-4 {
        grid-column: span 30;
    }
    .image-5 {
        grid-column: span 30;
    }
    .image-6 {
        grid-column: span 20;
    }
    .image-7 {
        grid-column: span 30;
        margin-right: 80px;
    }
    .image-8 {
        grid-column: span 15;
    }
    .image-9 {
        grid-column: span 35;
    }
}

@media (min-width: 640px) and (max-width: 1366px) {
    .image-1 {
        grid-column: span 100;
    }
    .image-2 {
        grid-column: span 100;
    }
    .image-3 {
        grid-column: span 100;
    }
    .image-4 {
        grid-column: span 49;
    }
    .image-5 {
        grid-column: span 49;
    }
    .image-6 {
        grid-column: span 39;
    }
    .image-7 {
        grid-column: span 59;
    }
    .image-8 {
        grid-column: span 20;
    }
    .image-9 {
        grid-column: span 45;
    }
}

@media (max-width: 640px){
    .image-1 {
        grid-column: span 85;
    }
    .image-2 {
        grid-column: span 85;
    }
    .image-3 {
        grid-column: span 85;
    }
    .image-4 {
        grid-column: span 47;
        grid-row: 4;
    }
    .image-5 {
        grid-column: span 47;
        grid-row: 5;
    }
    .image-6 {
        grid-column: span 38;
        grid-row: 6/4;
    }
    .image-7 {
        grid-column: span 62;
    }
    .image-8 {
        grid-column: span 23;
    }
    .image-9 {
        grid-column: span 45;
    }
}
