body {
    margin: 0px;
}

h1 {
    text-align: center;
}

div.grid {
    display: grid;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    grid-template-columns: auto;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 640px) {
    div.grid div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    div.grid div:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    div.grid div:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    div.grid div:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    div.grid div:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    div.grid div:nth-child(6) {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    div.grid div:nth-child(7) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    div.grid div:nth-child(8) {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    div.grid div:nth-child(9) {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 8;
    }
}

@media only screen and (min-width: 640px) and (max-width: 1366px) {
    div.grid div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    div.grid div:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    div.grid div:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    div.grid div:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    div.grid div:nth-child(5) {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    div.grid div:nth-child(6) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    div.grid div:nth-child(7) {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    div.grid div:nth-child(8) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    div.grid div:nth-child(9) {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 7;
    }
}

@media only screen and (min-width: 1366px) {
    div.grid div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    div.grid div:nth-child(2) {
        grid-column-start: 4;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: right;
    }

    div.grid div:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    div.grid div:nth-child(4) {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: right;
    }

    div.grid div:nth-child(5) {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: right;
    }

    div.grid div:nth-child(6) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    div.grid div:nth-child(7) {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    div.grid div:nth-child(8) {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: right;
    }

    div.grid div:nth-child(9) {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: right;
    }
}
